if is_home()
    .down-list.touying
        .title 下载专区
            .type
                a.hover(alt='artitalk') artitalk
                a(alt='bbtalk') bbtalk
        .tpl-tr-wai
            .tpl-tr.layui-clear(style='transform: translateX(0px);')
                .list-top
                    ul
                        each article, index in site.categories.findOne({name: 'artitalk'}).posts.data
                            if index < 9
                            li
                                .fl
                                    img(src=url_for(article.cover) alt=title onerror=`this.onerror=null;this.src='${url_for(theme.error_img.post_page)}'`)
                                .fr
                                    .tit
                                        h-5
                                            a(href=url_for(article.path) title=article.title)!=article.title
                                    .down
                                        span
                                            a(href=url_for(article.path), target='_blank') 前往查看
                .list-top
                    ul
                        each article, index in site.categories.findOne({name: 'bbtalk'}).posts.data
                            if index < 9
                            li
                                .fl
                                    img(src=url_for(article.cover) alt=title onerror=`this.onerror=null;this.src='${url_for(theme.error_img.post_page)}'`)
                                .fr
                                    .tit
                                        h-5
                                            a(href=url_for(article.path) title=article.title)!=article.title
                                    .down
                                        span
                                            a(href=url_for(article.path), target='_blank') 立即下载
