- var htmlClassHideAside = theme.aside.enable && theme.aside.hide ? 'hide-aside' : ''
- page.aside = is_archive() ? theme.aside.display.archive: is_category() ? theme.aside.display.category : is_tag() ? theme.aside.display.tag : page.aside
- var hideAside = !theme.aside.enable || page.aside === false ? 'hide-aside' : ''
- var pageType = is_post() ? 'post' : 'page'

doctype html
html(lang=config.language data-theme=theme.display_mode class=htmlClassHideAside)
  head
    include ./head.pug
  body
    if theme.preloader.enable
      !=partial('includes/loading/index', {}, {cache: true})

    if theme.background
      #web_bg
      
    !=partial('includes/sidebar', {}, {cache: true})

    if page.type !== '404'
      #body-wrap(class=pageType)
        include ./header/index.pug

        main#content-inner.layout(class=hideAside)
          if body
            div!= body
          else
            block content
            if theme.aside.enable && page.aside !== false
              include widget/index.pug

        - var footerBg = theme.footer_bg
        if (footerBg)
          if (footerBg === true)
            - var footer_bg = bg_img
          else
            - var footer_bg = isImgOrUrl(theme.footer_bg) ? `background-image: url('${url_for(footerBg)}')` : `background: ${footerBg}`
        else
          - var footer_bg = ''

        footer#footer(style=footer_bg)
          !=partial('includes/footer', {}, {cache: true})

    else
      include ./404.pug

    include ./rightside.pug
    !=partial('includes/third-party/search/index', {}, {cache: true})
    include ./additional-js.pug
.contact-info
  .option
    i.fas.fa-rocket
    .bloktop
    .text 还不造有啥用滴悬浮模块
      .strip
  .option
    i.fas.fa-cube
    .blok
    .text
      .strip
      <div class="post-reward"><button class="tip-button reward-button"><span class="tip-button__text">主题官方群</span><div class="reward-main"><ul class="reward-all"><li class="reward-item"><a class="about-reward" href="https://bu.dusays.com/2021/09/24/ae832f0aadee8.png" target="_blank"><img class="post-qr-code-img" src="https://bu.dusays.com/2021/09/24/ae832f0aadee8.png" alt="volantis官方群"></a><div class="post-qr-code-desc">volantis官方群</div>
  .option
    i.fas.fa-music
    .blokbottom
    .text.aplayertext
      .strip
      .aplayer.no-destroy(mutex='true', listfolded='true', data-id='7420053538', data-preload="none" , data-server='netease', data-volume='0.25', data-order='random', data-type='playlist', data-fixed='true', data-autoplay='false')
   
