#home_top
  .swiper_container_card(style='height: auto;width: 100%')
    #bannerGroup
      #random
        #random-banner
            .banners-title
                .banners-title-big 人间值得
                .banners-title-big 未来可期
                .banners-title-small BLOG.MARCUS233.TOP
            #skills-style-group-all
                .tags-group-wrapper
                    each i in site.data.creativity
                        - const evenNum = i.creativity_list.filter((x, index) => index % 2 === 0);
                        - const oddNum = i.creativity_list.filter((x, index) => index % 2 === 1);
                        each item, index in i.creativity_list
                            if ((index+1 <= evenNum.length) && (index+1 <= oddNum.length))
                                .tags-group-icon-pair
                                    .tags-group-icon(style=`background: ${evenNum[index].color}`)
                                        img.no-lightbox(title=evenNum[index].name, src=evenNum[index].icon)
                                    .tags-group-icon(style=`background: ${oddNum[index].color}`)
                                        img.no-lightbox(title=oddNum[index].name, src=oddNum[index].icon)
            a#random-hover(style='width:100%;height:auto;', href='javascript:toRandomPost()', rel='external nofollow noreferrer', one-link-mark='yes')
                i.fa.fa-paper-plane(style='margin-left:10px')
                div(style='margin-left:10px') 随便逛逛
                    i.fa-solid.fa-arrow-right(style='margin-left:10px')
      .categoryGroup
        each i in site.data.hometop
            each item, index in i.category
                .categoryItem(style=`box-shadow:${item.shadow}`)
                    a.categoryButton(onclick=`pjax.loadUrl("${item.path}");` href='javascript:void(0);' class=`${item.class}`)
                        span.categoryButtonText=item.name
                        i(class=`${item.icon}`)
    #swiper_container_blog
        #swiper_container.blog-slider.swiper-container-fade.swiper-container-horizontal
            .blog-slider__wrp.swiper-wrapper(style='transition-duration: 0ms;')
                //- 文章卡片
                each i in site.data.hometop
                    each item, index in i.post_list
                        .blog-slider__item.swiper-slide(style='width: 750px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;')
                            a.blog-slider__img(onclick=`pjax.loadUrl("` + item.link + `");` href='javascript:void(0);'    title=item.title)
                                img(width='48' height='48'  src=item.cover alt='图片' onerror=`this.src=` + error_img + `; this.onerror = null;`)
                            .blog-slider__content
                                span.blog-slider__code= item.date
                                a.blog-slider__title(onclick=`pjax.loadUrl("` + item.link+ `");` href='javascript:void(0);'   alt='')= item.title
                                .blog-slider__text= item.description ? item.description : default_descr
                                a.blog-slider__button(onclick=`pjax.loadUrl("` + item.link + `");` href='javascript:void(0);'    alt='') 详情       
            //- 轮播图组件
            .blog-slider__pagination.swiper-pagination-clickable.swiper-pagination-bullets 
        .topGroup
            each i in site.data.hometop
                each item, index in i.post_list
                    if index < 4
                        .top-group-list-item
                            .post_cover.left_radius
                                a(onclick=`pjax.loadUrl("` + item.link + `");` href='javascript:void(0);' alt='', title=item.title, data-pjax-state=true)
                                    span.top-group-text 荐
                                    img.post_bg(alt=item.title, src=item.cover, onerror=`this.src=` + error_img + `; this.onerror = null;`)
                            .top-group-info
                                a.article-title(onclick=`pjax.loadUrl("` + item.link + `");` href='javascript:void(0);'    alt='', title=item.title, data-pjax-state)=item.title
            .top-group-list-none
            .top-group-list-none
            .top-group-list-none
