- const { server, site, option } = theme.artalk

script.
  (()=>{
    const init = () => {
      artalk.init(Object.assign({
        el: '#artalk-wrap',
        server: '!{server}',
        site: '!{site}',
        pageKey: location.pathname,
        darkMode: document.documentElement.getAttribute('data-theme') === 'dark',
        countEl: '.artalk-count',
        onCommentLoaded: function () {
          btf.loadLightbox(document.querySelectorAll('#twikoo .tk-content img:not(.tk-owo-emotion)'))
        }
      },!{JSON.stringify(option)}))
    }
    
    const getCount = () => {
      const countELement = document.getElementById('artalk-count')
      if(!countELement) return
      artalk.getCommentsCount({
        server: '!{server}',
        site: '!{site}',
        pageKey: location.pathname,
         darkMode: document.documentElement.getAttribute('data-theme') === 'dark'
      }).then(function (res) {
        countELement.innerText = res[0].count
      }).catch(function (err) {
        console.error(err);
      });
    }
    
    const runFn = () => {
      init()
      !{count ? 'GLOBAL_CONFIG_SITE.isPost && getCount()' : ''}
    }

    const loadTwikoo = () => {
      if (typeof artalk === 'object') {
        setTimeout(runFn,0)
        return
      } 
      getScript('!{url_for(theme.asset.artalk)}').then(runFn)
    }

    if ('!{use[0]}' === 'Artalk' || !!{lazyload}) {
      if (!{lazyload}) btf.loadComment(document.getElementById('artalk-wrap'), loadArtalk)
      else loadArtalk()
    } else {
      window.loadOtherComment = () => {
        loadArtalk()
      }
    }
  })()
